@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  color: black;
}

h1 {
  color: #00A7A0;
  font-size: 28pt;
  margin-top: 5px;
}

h2 {
  color: #91268F;
  font-size: 20pt;
}

h3 {
  color: #8CC63E;
  font-size: 14pt;
}

.datatables {
  font-size: 10pt; 
}

#plot_race {
  padding-top: 5px;
}

.nav-tabs {
  padding-top: 20px;
}
.navbar {
  font-size: 20pt;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
}

.source_url {
  color: #91268F;
  font-weight: bold;
}

.profile {
  display: flex;
  font-size: 11pt;
}


